body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
}

h1 {
  color: #4E92DF;
}

h2{
  color: #3444;
}

.main{
  display: flex;
  justify-content: space-around;
  height: 70vh;
}